h1 {
    font-size: 28px;
    background-color: orange;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
}

img {
    height: 400px;
    width: 500px;
}